/* RESET */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400);
* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-size: 18px;
  margin: 5px 0px 15px 0px; }

/* CLEARFIX */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* FONTS */
/* STYLES */
/* GLOBAL */
body {
  font-family: Open sans;
  font-size: 12px; }
  body.popup-page {
    width: 420px;
    height: auto;
    padding: 5px 0px;
    margin: 0;
    max-height: 700px;
    overflow-y: auto; }
  body.options-page {
    padding: 10px 20px; }
    body.options-page .wrapper {
      max-width: 600px;
      margin: 0px auto; }
    body.options-page input {
      display: block; }
      body.options-page input.toggle {
        float: left; }
      body.options-page input#dumpin, body.options-page input#dumpout {
        display: block;
        width: 100%; }
    body.options-page strong {
      font-weight: bold;
      padding: 4px 0px 10px 5px;
      display: block; }
    body.options-page .answer span {
      display: block;
      margin-left: 20px; }

@-webkit-keyframes nopenopenope {
  0% {
    left: 0px; }
  25% {
    left: -10px; }
  75% {
    left: 10px; }
  100% {
    left: 0px; } }
.nope {
  position: relative;
  -webkit-animation: nopenopenope .15s linear 0s 3 normal; }

/* Options panel appears on hove */
.options {
  position: absolute;
  top: 3px;
  right: 0px;
  display: none;
  padding: 0px;
  font-size: 16px; }
  .options a {
    padding: 0px 3px;
    color: #888; }
    .options a.delete {
      position: relative;
      bottom: 1px; }
    .options a:hover {
      color: #000; }

li:hover > .options, li:hover > span > .options {
  display: block; }

/* MAIN TREE */
ul#root li {
  position: relative;
  padding: 5px 0px; }
ul#root > li {
  padding-bottom: 0px;
  border-bottom: 1px solid #888; }
  ul#root > li:last-child {
    border-bottom: 0px; }
  ul#root > li > span.name-line {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0px 0px 5px 10px;
    font-weight: bold; }
  ul#root > li:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.05); }
  ul#root > li:hover > span.name-line {
    padding-right: 62px; }
  ul#root > li.unloaded span.name-line {
    font-style: italic;
    color: #AAA; }
  ul#root > li.unloaded:hover > span.name-line {
    padding-right: 41px; }
  ul#root > li > ul > li {
    padding-left: 40px;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 20px center; }
    ul#root > li > ul > li:hover {
      padding-right: 62px; }
    ul#root > li > ul > li > span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
      padding-right: 3px; }
    ul#root > li > ul > li.unloaded > span {
      color: #AAA; }
    ul#root > li > ul > li:nth-child(2n+1) {
      background-color: rgba(0, 0, 0, 0.05); }

/*# sourceMappingURL=style.css.map */
